@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<style>
    .hack{
        width: 15%;
        margin: 0 auto!important;
    }
</style>

<div class="title">
    <h1>@ViewBag.Title.</h1>
</div>
<div>
    <h2 class="text-center">
        @ViewBag.Message! <br>
        Please check your email to reset your password.
    </h2>
    <div class="hack">
        <a href="~/Account/Login" class="btn btn-primary"> Back to Login </a>
    </div>
</div>
	
