@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <h2 class="text-center">
        @ViewBag.Message! <br>
        Please check your email to reset your password.
    </h2>
    <div class="text-center">
        <a href="~/Account/Login" class="btn btn-primary"> Back to Login </a>
    </div>
</div>
	
